@import url('https://fonts.googleapis.com/css?family=Charm|Courgette|Gochi+Hand|Megrim|Pacifico|Parisienne|Spirax&display=swap');
html,body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    
}
#container{
    background-image: url("images/afrika.jpg");
    background-size: cover;
    background-position-y: top;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

nav{
    width: auto;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: white;
    z-index: 1; /* Stay on top */
    float: right;
    right: 0; /* Stay at the right */
    overflow-x: hidden; /* Disable horizontal scroll */

}
nav a{
    text-decoration: none;
    color: #799B2B;
    margin-top: 20px;
    width: 100%;
    font-family: 'Spirax', cursive;
    font-size: large;

}
nav i{
    text-decoration: none;
    color:#EEA834;
    padding-right: 10px;
    
}
nav .active{
    background-color: #B62713;
    color: white;
}
nav .active i{
    color: #EEA834;
}

#intro-text{
    width: 50%;
    margin-left: 42%;
    margin-top: -280px;
    background-color: white;
    font-family: 'Baloo Da 2', cursive;
    padding: 5%;
}
#intro-text button{
    background-color: rgb(186, 214, 75);
    font-family: 'Charm', cursive;
}
#heading h2{
    font-family:  'Courgette', cursive;
    padding-bottom: 5%;
    text-transform: uppercase;
}
#intro-text .btn{
    margin-bottom: 10%;
}

#meal-heading{
    margin-bottom: 8%;
    margin-left: 40%;  
}
#meal-heading h2{ 
    font-family: 'Courgette', cursive;
}
#meal-heading p{
    color: rgb(180, 175, 175);
}

#first-meal{
    
}
#meal1{
    margin-top: 8%;
    margin-bottom: 15%;
    text-align: center;
}
#meal1 .btn{
    color: #B62713;
    border: none;
}
#meal1 .btn:hover{
    background-color:#FFFFFF;
    font-weight: bold;
}
#meal1 p{
    color: rgb(180, 175, 175);
}
#meal1 h3{
    font-family: 'Courgette', cursive;
}
#meal1 h4{
    color: #E4A819;
}

#meal1 .btn{
    font-family: 'Charm', cursive;
}
#meal1 .col-4{
   
}
#meal1 #meal-text{
   text-align: center;
   padding: 3%;
}
#meal-text h1{
    font-family: 'Courgette', cursive;
    padding-bottom: 20px;
}

.col-6 #mbongo{
    position: relative;
    top: 0;
    left: 0;
}

.col-6 #folere{
    position: absolute;
    top: 60%;
    left: -60px;
}

#meal2{
    margin-top: 10%;
    
}
#meal2 .btn{
    font-family: 'Charm', cursive;
}

.col-6 #bitroot{
    position: absolute;
    top: 60%;
    left: 80px;
}
#meal2 #meal-text{
    padding-top: 2%;
}

#special-section{
    background-color: #FAFAFA;
    margin-top: 10px;
    
}
#special{
    width: 70%;
    margin-top: 10%;
}
#special h2{ 
    font-family: 'Courgette', cursive;
    margin-left: 40%;
    margin-bottom: 5%;
    padding-top: 30px;
}
#special .col-4{
    width: 50px;
    height: 450px;
    
}
#special .col-4 p{
    margin-top: 300px;
    font-weight: bold;
    
}
#special .col-4 p:hover{
    color: #B62713;
    
}
#special .col-4 span{
    border-radius: 50%;
    padding: 10%;
    background-color: #333333;
    position: relative;
    top: 70%;
    left: 90%;
    text-align: center;
    color: white;
    font-weight: bold;
    font-family: 'Baloo Da 2', cursive;
}
#special .col-4 span:hover{
    background-color: #B62713;
    
}
#special .col-4 .special-inner{
    height: inherit;
    width: 250px;
    
}
#special #special-meal{
    position: absolute;
    top: 20%;
    left: 28%;
    z-index: 1;
    
}
.item{
    padding: 20px;
}
#view-menu{
    padding: 10px;
    margin-top: 3%;
    width: 150px;
    height:50px;
    margin-left:40%;
    background-color: white;
    text-align: center;
}
#view-menu span{
    padding: 5px;
    border-radius: 50%;
    background-color: #B62713;
    float: left;

   
}
#view-menu a{
    text-decoration:none;
    color: #333333;
    font-weight: bold;
    float: left;
    padding: 5px;

   
}
#view-menu a:hover{
    color: #B62713;

}

#testimonials{
    background-color: #FAFAFA;
    padding-top: 5%;
}
#testimonials .container{
    padding: 8% 5% 8% 5%;
    background-color: white;
}
#testimonials h2{
    margin-left: 40%;
    margin-bottom: 5%;
    font-family: 'Courgette', cursive;
}
#testimonials .title p{
    font-family: 'Parisienne', cursive;
    font-size: large;
}
#testimonials .container .row{
    min-width: 100%;
}
#testimonials .container .col-4{
    border-left: 0.5px solid rgb(163, 158, 158);
    padding: 3%;
}
#testimonials .container .col-4 p{
    color: rgb(156, 152, 152);
}
#testimonials img{
    border-radius: 50%;
    border: 1px solid gray;
    float: left;
    
}
#testimonials .title{
    margin: 0;
    text-align: center;
    margin-bottom: 15%;
    
}
#testimonials .title h2{
    margin-top: 20px;
    margin-left: 0;
    
    
}
#testimonials .title {
    
}

#reservations{
    padding-top: 10%;
    background-color: #FAFAFA;
}
#reservations h2{  
    font-family: 'Courgette', cursive;

}

#reservations .container{
    margin: 0;
    width: inherit;
    background-color: #FAFAFA;
}
#reservations #reservation-form{
    margin-top: 5%;
    text-align: center;
}
#reservations #reservation-form .form-group{
    margin-top: 5%;
    margin-left: 15%;
}
#reservations #reservation-form .form-group input{
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0;
    background-color: #FAFAFA;
}
#reservations #reservation-form .btn{
    margin-top: 10%;
    border: 1px solid #EEA834 ;
    color: #EEA834;
    font-weight: bold;
    font-family: 'Charm', cursive;
}
#reservations #reservation-form .btn:hover{
    background-color: #FAFAFA;
    border: 1px solid #799B2B;
    color: #799B2B;
}

#association-container{
    width: 100%;
    padding-top: 10%;
    background-color: #FAFAFA;
    height: auto;
}
#association-container .row{
    width: 100%;
}
#association-container .row .prawn{
   position: relative;
   
}
#association{
    text-align: center;
    background-image: url("images/chiken.png");
    background-size: cover;
    background-position: top;
    height: 65%;
}
#association h2{
    font-family: 'Courgette', cursive;
    
}
#association h3{
    font-family: 'Parisienne', cursive;
    color: #921504;
    font-weight: bold;
    position: absolute;
    top: 45%;
    left: 15%;
}
#association p{
    font-family: 'Baloo Da 2', cursive;
    margin-bottom: 10%;
    color:  rgb(141, 137, 137);
}

#association-container .spoon{
    padding-left: 8%;
    margin-top: 25%;
    position: relative;
}
#association-container .spoon-text{
    width: 50%;
    position: absolute;
    left: 0;
    top: 40%;
    font-family: 'Parisienne', cursive;
    color: rgb(180, 121, 2);
      
  }
  #association-container .spoon-text p{
  font-size: large;
  }


  /*footer section */

  #gallery{
    padding: 0;
    min-width: 100%;
}
#gallery .row img{
    height:auto;
    display: block;
    transition: .5s ease;
    display:block;
}
  
  #gallery .row .middle {
    opacity: 1;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.6);
	color: #fff;
	padding: 15px;
	-moz-transition: all 0.4s ease-in-out 0s;
	-webkit-transition: all 0.4s ease-in-out 0s;
	-ms-transition: all 0.4s ease-in-out 0s;
	transition: all 0.4s ease-in-out 0s;
  }
  #gallery .row .col{
    position: relative;
	display: inline-block;
	overflow: hidden;
	max-width: 100%;
    max-height: 240px;

  }

  #gallery .row .text {
    color: white;
    padding: 10px 25px;
    font-family: 'Encode Sans Expanded', sans-serif;
    font-size: larger;
    font-weight: bold;
    display: inline-block;
	position: absolute;
	top: 40%;
	left: 50%;
	-moz-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
  }
  
  #gallery .row .col:hover {
    opacity: 1;
  }
  
  #gallery .row .middle:hover {
    opacity: 1;
  }
 

  .layer {
    background-color: rgba(121, 121, 117, 0.3);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}